@using GameOfLifeMvc.Models
@model GameData
@{
    ViewBag.Title = "Game of life in ASP.NET MVC";
}

<div class="jumbotron">
    <h1>Game of life in ASP.NET MVC</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Rules:</h2>
        <p>
            <ul>
                <li> Any live cell with fewer than two live neighbours dies (underpopulation)</li>
                <li> Any live cell with two or three live neighbours lives on to the next generation (survival)</li>
                <li> Any live cell with more than three live neighbours dies (overcrowding)</li>
                <li> Any dead cell with exactly three live neighbours becomes a live cell (reproduction)</li>
            </ul>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Use this field as input</h2>
        <p><textarea id="gameDataInput" rows="10" cols="30"></textarea><p>
        <p><a class="btn btn-default" id="sendDataBtn" href="#">Generate &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Generated output</h2>
        <p><textarea id="gameDataOutput" rows="10" cols="30"></textarea></p>
        
    </div>
</div>